@import "tailwindcss";

@theme {
    --breakpoint-llg: 90rem;
    --breakpoint-3xl: 112rem;
    --breakpoint-3lg: 160rem;
    --breakpoint-gg: 185rem;
    --breakpoint-4xl: 235rem;
    --breakpoint-5xl: 307rem;
    --breakpoint-2gg: 344rem;
}

@media (height < 37rem) { 
     .contact-div {
        place-content: initial;
        height: fit-content;
     }

     .source-div {
        place-content: initial;
        height: fit-content;
     }
}

@media (height < 30rem) { 
     .footer-home {
        display: none;
     }
}

@media (max-width: 40rem) {
    .cont-content {
        height: calc(100vh-40px);
        height: calc(100dvh-40px);
        max-height: calc(100vh-40px);
        max-height: calc(100dvh-40px);
    }

    .parent_div {
        height: 100dvh;
        max-height: calc(100dvh-40px);
    }
}

@media (max-width: 48rem) {
    .cont-content {
        height: calc(100vh-50px);
        height: calc(100dvh-50px);
        max-height: calc(100vh-50px);
        max-height: calc(100dvh-50px);
    }

    .parent_div {
        height: 100dvh;
        max-height: calc(100dvh-50px);
    }
}

@media (width >= 48rem) { 
    .cont-content {
        height: calc(100vh-70px);
        height: calc(100dvh-70px);
        max-height: calc(100vh-70px);
        max-height: calc(100dvh-70px);
    }

    .parent_div {
        height: 100dvh;
        max-height: calc(100dvh-70px);
    }
}
