@import "tailwindcss";

@font-face {
  font-family: "Caprasimo";
  src: url('/fonts/Caprasimo-Regular.woff2') format('woff2'),
       url('/fonts/Caprasimo-Regular.woff') format('woff'),
       url('/fonts/Caprasimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* this tells browser to use fallback font until custom font is loaded */
}

@keyFrames blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#root {
  height: 100%;
}

html {
  font-size: clamp(14px, 2vw, 18px);
}

body {
  margin: 0;
  width: 100vw;
  min-width: 320px;

  height: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  
  font-family: 'caprasimo', mono;
  background: linear-gradient(23deg,rgba(255, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);

  /* fallback to JS variable --vh if available */
  max-height: calc(var(--vh, 1vh) * 100);

}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h2 {
  font-size: clamp(1.25rem, 3.5vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.custom_list li::marker {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('client/public/star-rings.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.cont-content {
  padding: min(0.1rem, 8%);
  width: 100%;
  height: 100dvh;
  max-height: calc(100dvh-40px);
}

nav li a.active {
    p{
        color: #ff0080;
        border-style: dotted; 
        border-color: transparent transparent red;    
        border-width: 2px; 
        animation: pulse 2s infinite;
        box-shadow: 0 10px 30px 0 #ff0080;
        transition: box-shadow ease-in-out 0,2s
    }
}

nav li a.active:hover {
  p {
    color: white;
    border-color: transparent transparent white; 
    box-shadow: 0 10px 30px 0 white;
  }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #009dff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff0080;
}


.outer {
  border: 10px dotted #009dff;
  animation: rotate 2s linear infinite;
}

.outer_1 {
  border: 10px dotted #ff0080;
  animation: rotate 4s linear infinite;
}

.middle {
  border: 10px dotted white;
  animation: rotate_anti 2s linear infinite;
}

.inner {
  border: 10px dotted #009dff;
  animation: rotate 2s linear infinite;
}

.center {
  border: 10px dotted white;
  animation: rotate_anti 2s linear infinite;
}

.center-inner {
  background: #009dff;
  border: 10px dotted black;
  animation: rotate 2s linear infinite;
}

.img_ring {
  border: 5px dotted #009dff;
  animation: rotate 10s linear infinite;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate_anti {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
